# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Tooling
.ruff_cache/

# Environment
.env

# Weights
weights/

# Docker
docker-compose.yml
docker-compose.*.yml

# Jupyter
notebooks/
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db